# xcode noise
[bB]uild/*
*/[bB]uild/*
*.pbxuser
!default.pbxuser
*.mode*
!default.mode1v3
!default.mode2v3
*.perspective
*.perspectivev3
!default.perspectivev3


# xcode 4
xcuserdata
*.xcuserstate
# *.xcodeproj/*.xcworkspacedata
!default.xcworkspace
profile

*.moved-aside*

# IB
*~.nib
*~.xib


# merge stuff
*.orig

# old skool
.svn

# mercurial
.hg

# osx noise
.DS_Store
profile
*.swp
Icon?

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

#taskpaper
*(Autosaved)*
